inference/weights/*.pt filter=lfs diff=lfs merge=lfs -text
inference/weights/*.pt.part* filter=lfs diff=lfs merge=lfs -text

assets/weights/*.pt filter=lfs diff=lfs merge=lfs -text
assets/weights/*.pt.part* filter=lfs diff=lfs merge=lfs -text
assets/dinov3l/*.safetensors filter=lfs diff=lfs merge=lfs -text
